.articles {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    @include desktop {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
li{
    list-style: none;
}
.image {
    height: 400px;
    background-position: 50%;
    background-size: cover;
    position: relative;
    @include desktop{
        &:hover {
            .story {
                display: block;
            }
    
        }
    }
}
.story{
    position: absolute;
    bottom: 0;
    color: white;
    background: black;
    opacity: 0.6;
    padding: 0.5rem;
    p {
        line-height: 1.3rem;
    }
    @include desktop{
        display: none;
    }
}
.news {
    img {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
    }
}