@import 'variables';
@import 'mixins';
@import 'header';
@import 'content';
@import 'footer';

body {
    background-color: black;
    color: #ffffff;
    font-size: 16px;
    height: 100vh;
    font-family: 'Open Sans Light', Arial, sans-serif;
}

.container{
    height: 100%;
}