@import 'variables';
@import 'mixins';
@import 'header';
@import 'content';
@import 'footer';
@import 'fonts';

body {
    background-color: black;
    color: #ffffff;
    font-size: 16px;
    height: 100vh;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.container{
    height: 100%;
}